@page
@{
    ViewData["Title"] = "Контакты";
}
<title>Контакты</title>
<h2>Контакты</h2>
<address>
    ООО ФРЕЙМ<br />
    450078, Уфа-78, а/я 403;<br />
    <abbr title="Телефон/факс">Телефон/факс:</abbr>
    (347) 251-69-99, 251-00-87, 273-95-86, 292-39-55
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:svod@f-g.ru">svod@f-g.ru</a><br />
    <strong>Руководство:</strong> <a href="mailto:fg@f-g.ru">ip@f-g.ru</a>
</address>